In [ ]:
! pip  install selenium

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

# Question 2

In [3]:
driver= webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [4]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [5]:
driver.get('https://www.naukri.com')

In [6]:
search_feild_designation=driver.find_element_by_class_name("suggestor-input ")
search_feild_designation.send_keys("Data Scientist")

In [7]:
search_feild_loc=driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_feild_loc.send_keys("Bangalore")

In [8]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [9]:
job_titles=[]
company_names=[]
locations_list=[]
experince_list=[]

In [ ]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

In [ ]:
for i in  titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

In [ ]:
companies_tags=driver.find_elements_by_xpath("//a [@class='subTitle ellipsis fleft']")
companies_tags[0:10]

In [ ]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

In [ ]:
experince_tags=driver.find_elements_by_xpath("//li[@ class='fleft grey-text br2 placeHolderLi experience']")
experince_tags[0:10]

In [ ]:
for i in experince_tags:
    experince=i.text
    experince_list.append(experince)
experince_list[0:10]

In [ ]:
locations_tags=driver.find_elements_by_xpath("//li [@class='fleft grey-text br2 placeHolderLi location']")
locations_tags[0:10]

In [ ]:
for i in locations_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

In [18]:
print(len(job_titles),len(company_names),len(locations_list),len(experince_list))

20 20 20 20

In [19]:
import pandas as pd
jobs=pd.DataFrame(())
jobs['title']=job_titles
jobs['company']=company_names
jobs['experince_required']=experince_list
jobs['location']=locations_list

In [20]:
jobs.head(10)

,title,company,experince_required,location
0,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,5-10 Yrs,Bangalore/Bengaluru
1,Senior Data Scientist Grade12,Flipkart,5-10 Yrs,Bangalore/Bengaluru
2,Senior Data Scientist Grade12,Flipkart,5-7 Yrs,Bangalore/Bengaluru
3,Senior Data Scientist,Fractal Analytics,5-10 Yrs,Bangalore/Bengaluru
4,Data Scientist: Advanced Analytics,IBM,2-5 Yrs,Bangalore/Bengaluru
5,Data Scientist,Genpact,5-8 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
6,Data Scientist,VISA,3-7 Yrs,Bangalore/Bengaluru
7,Data Scientist: Artificial Intelligence,IBM,3-7 Yrs,Bangalore/Bengaluru
8,"Data Scientist, Machine Learning (AIML)",Fractal Analytics,3-7 Yrs,Bangalore/Bengaluru
9,Lead Applied Data Scientist,Tesco Bengaluru,4-7 Yrs,Bangalore/Bengaluru

# Question 1

In [21]:
driver= webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [22]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [23]:
driver.get('https://www.naukri.com')

In [24]:
search_feild_designation=driver.find_element_by_class_name("suggestor-input ")
search_feild_designation.send_keys("Data Analyst")

In [25]:
search_feild_loc=driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_feild_loc.send_keys("Bangalore")

In [26]:
search_button=driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [27]:
job_titles=[]
company_names=[]
locations_list=[]
experince_list=[]

In [ ]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

In [ ]:
for i in  titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

In [ ]:
companies_tags=driver.find_elements_by_xpath("//a [@class='subTitle ellipsis fleft']")
companies_tags[0:10]                                            

experince_tags=driver.find_elements_by_xpath("//li[@ class='fleft grey-text br2 placeHolderLi experience']")
experince_tags[0:10]

In [ ]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

In [ ]:
for i in experince_tags:
    experince=i.text
    experince_list.append(experince)
experince_list[0:10]

In [ ]:
locations_tags=driver.find_elements_by_xpath("//li [@class='fleft grey-text br2 placeHolderLi location']")
locations_tags[0:10]

In [ ]:
for i in locations_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

In [35]:
print(len(job_titles),len(company_names),len(locations_list),len(experince_list))

20 20 20 20

In [36]:
import pandas as pd
jobs=pd.DataFrame(())
jobs['title']=job_titles
jobs['company']=company_names
jobs['experince_required']=experince_list
jobs['location']=locations_list

In [37]:
jobs.head(10)

,title,company,experince_required,location
0,Senior Data Analyst,Flipkart,3-7 Yrs,Bangalore/Bengaluru
1,Sr Data Analyst II,IHS Markit,3-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
2,Business analyst + data Analysis,Anlage Infotech (I) Pvt. Ltd.,5-10 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
3,Data Analyst - Alteryx,Capco,4-7 Yrs,Bangalore/Bengaluru
4,Consultant - Data Analyst,Flipkart,1-3 Yrs,Bangalore/Bengaluru
5,Hiring For Data Analyst with SAP ABAP & BW - C...,MILLION MINDS INFOTECH PRIVATE LIMITED,7-10 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
6,Senior Business Analyst - Data Sciences and Ad...,Vmware,3-7 Yrs,Bangalore/Bengaluru
7,Business and Data Analyst,CAREERDOST ENTERPRISE,0-5 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
8,Senior Data Analyst | Lululemon,TALENT500 TECH (INDIA) PRIVATE LIMITED,5-8 Yrs,Bangalore/Bengaluru
9,Urgent hiring For Senior Data Analyst,upGrad,2-7 Yrs,Bangalore/Bengaluru

# Question 3

In [38]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [39]:
driver.get('https://www.naukri.com')

In [40]:
search_feild_designation=driver.find_element_by_class_name("suggestor-input ")
search_feild_designation.send_keys("Data Scientist")

In [43]:
search_button=driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/i')
search_button.click()

In [44]:
search_filter_location=driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/i')
search_filter_location.click()

In [45]:
search_filter_salary=driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
search_filter_salary.click()

In [46]:
job_titles=[]
company_names=[]
locations_list=[]
experince_list=[]

In [ ]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

In [ ]:
for i in  titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

In [ ]:
companies_tags=driver.find_elements_by_xpath("//a [@class='subTitle ellipsis fleft']")
companies_tags[0:10]

In [ ]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

In [ ]:
experince_tags=driver.find_elements_by_xpath("//li[@ class='fleft grey-text br2 placeHolderLi experience']")
experince_tags[0:10]

In [ ]:
for i in experince_tags:
    experince=i.text
    experince_list.append(experince)
experince_list[0:10]

In [ ]:
locations_tags=driver.find_elements_by_xpath("//li [@class='fleft grey-text br2 placeHolderLi location']")
locations_tags[0:10]

In [ ]:
for i in locations_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

In [55]:
print(len(job_titles),len(company_names),len(locations_list),len(experince_list))

20 20 20 20

In [56]:
import pandas as pd
jobs=pd.DataFrame(())
jobs['title']=job_titles
jobs['company']=company_names
jobs['experince_required']=experince_list
jobs['location']=locations_list
jobs.head(10)

,title,company,experince_required,location
0,Data Scientist,Ashkom Media India Private Limited,3-6 Yrs,"Noida, Bangalore/Bengaluru"
1,Senior Data Analyst,CarDekho,2-4 Yrs,Gurgaon/Gurugram
2,Data Analyst,Netomi,0-1 Yrs,Gurgaon
3,Data Analyst,Netomi,0-1 Yrs,Gurgaon
4,Sr Data Analyst,TECHNODYSIS PRIVATE LIMITED,6-10 Yrs,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
5,Data Preparation Analyst / Sr . Analyst,Xpheno,6-11 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
6,Senior Data Analyst,Urban Company,2-4 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
7,Analyst-Data Management,Accenture,3-5 Yrs,Noida
8,Analyst-Data Management,Accenture,3-5 Yrs,Gurgaon/Gurugram
9,"Opening For Senior DATA Engineer - ETL, Spark,...",NeoSoft Technologies,5-8 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."

# Question 4

In [3]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [4]:
driver.get('https://www.flipkart.com/')

In [5]:
search_feild=driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_feild.send_keys("sun glasses")

In [6]:
search_button=driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [7]:
Brand_titles=[]
Description_list=[]
Price_list=[]
Discount_list=[]

In [9]:
Brand_list=[]
for i in range(0,3):
    Brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in Brand_tags:
        Brand=i.text
        Brand_list.append(Brand)
    next_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [10]:
len(Brand_list)

120

In [11]:
Description_list=[]
for i in range(0,3):
    Description_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in Description_tags:
        Description=i.text
        Description_list.append(Description)
    next_button=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
    next_button.click()
    time.sleep(5)

In [12]:
len(Description_list)

120

In [13]:
Price_list=[]
for i in range(0,3):
    Price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in Price_tags:
        Price=i.text
        Price_list.append(Price)
    next_button=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
    next_button.click()
    time.sleep(5)

In [14]:
len(Price_list)

120

In [15]:
Discount_list=[]
for i in range(0,3):
    Discount_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for i in Discount_tags:
        Discount=i.text
        Discount_list.append(Discount)
    next_button=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
    next_button.click()
    time.sleep(5)

In [16]:
len(Discount_list)

120

In [23]:
print(len(Brand_list),len(Description_list),len(Price_list),len(Discount_list))

120 120 120 120

In [24]:
import pandas as pd
Flipkart=pd.DataFrame(())
Flipkart['Brand']=Brand_list
Flipkart['Description']=Description_list
Flipkart['Price']=Price_list
Flipkart['Discount']=Discount_list

In [25]:
Flipkart.head(100)

,Brand,Description,Price,Discount
0,PIRASO,"UV Protection, Gradient Retro Square Sunglasse...",₹498,82% off
1,Elligator,UV Protection Rectangular Sunglasses (Free Size),₹379,74% off
2,Elligator,"UV Protection, Riding Glasses Rectangular, Way...",₹379,86% off
3,SHAAH COLLECTIONS,"UV Protection, Gradient Rectangular Sunglasses...",₹498,81% off
4,SUNBEE,UV Protection Round Sunglasses (Free Size),₹299,77% off
...,...,...,...,...
95,Resist,UV Protection Oval Sunglasses (56),₹498,28% off
96,PIRASO,UV Protection Butterfly Sunglasses (60),₹719,16% off
97,hipe,"UV Protection, Gradient Oval Sunglasses (58)",₹299,32% off
98,PIRASO,UV Protection Rectangular Sunglasses (55),₹498,83% off
99,john jacobs,UV Protection Wayfarer Sunglasses (Free Size),₹260,73% off

# Question 5

In [201]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [202]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace')

In [203]:
all_review=driver.find_element_by_xpath("//*[@id='container']/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div")
all_review.click()

In [204]:
Rating_list=[]
Review_list=[]
Full_list=[]

In [206]:
Rating_list=[]
for i in range(0,10):
    rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rating=i.text
        Rating_list.append(rating)
    next_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [207]:
len(Rating_list)

100

In [208]:
Review_list=[]
for i in range(0,10):
    review_tags=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for i in review_tags:
        review=i.text
        Review_list.append(review)
    next_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [210]:
len(Review_list)

100

In [214]:
Full_list=[]
for i in range(0,10):
    fullreview_tags=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for i in fullreview_tags:
        fullreview=i.text
        Full_list.append(fullreview)
    next_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [215]:
len(Full_list)

100

In [216]:
import pandas as pd
iphone=pd.DataFrame(())
iphone['Rating']=Rating_list
iphone['Review']=Review_list
iphone['Full']=Full_list
iphone

,Rating,Review,Full
0,5,Highly recommended,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Really satisfied with the Product I received.....
2,5,Perfect product!,Great iPhone very snappy experience as apple k...
3,5,Worth every penny,Amazing phone with great cameras and better ba...
4,5,Highly recommended,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Perfect product!,Previously I was using one plus 3t it was a gr...
96,5,Worth every penny,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,4,Simply awesome,So far it’s been an AMAZING experience coming ...
98,5,Classy product,"i11 is worthy to buy, too much happy with the ..."
99,5,Terrific,What a camera .....just awesome ..you can feel...

# Question 6

In [100]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [101]:
driver.get('https://www.flipkart.com/')

In [102]:
search_feild=driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_feild.send_keys("sneakers")

In [104]:
search_button=driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [105]:
Brand_list=[]
Product_list=[]
Price_list=[]
Discount=[]

In [108]:
Brand_list=[]
for i in range(0,3):
    brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand=i.text
        Brand_list.append(brand)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")    
    next_button.click()
    time.sleep(2)

In [109]:
len(Brand_list)

120

In [136]:
Price_list=[]
for i in range(0,3):
    price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in price_tags:
        price=i.text
        Price_list.append(price)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")    
next_button.click()

In [137]:
len(Price_list)

120

In [142]:
Discount_list=[]
for i in range(0,3):
    discount_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for i in discount_tags:
        discount=i.text
        Discount_list.append(Discount)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")    
next_button.click()

In [143]:
len(Discount_list)

120

In [29]:
import pandas as pd
Sneaker=pd.DataFrame(())
Sneaker['Brand']=Brand_list
Sneaker['Price']=Price_list
Sneaker['Discount']=Discount_list
Sneaker.head(100)

                Brand Price Discount
0              PIRASO  ₹498  82% off
1           Elligator  ₹379  74% off
2           Elligator  ₹379  86% off
3   SHAAH COLLECTIONS  ₹498  81% off
4              SUNBEE  ₹299  77% off
..                ...   ...      ...
95             Resist  ₹498  28% off
96             PIRASO  ₹719  16% off
97               hipe  ₹299  32% off
98             PIRASO  ₹498  83% off
99        john jacobs  ₹260  73% off

[100 rows x 3 columns]

# Question 7

In [189]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [190]:
driver.get('https://www.myntra.com/shoes')

In [194]:
filter_price=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
filter_price.click()

In [192]:
filter_color=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
filter_color.click()

In [193]:
Brand_list=[]
Description_list=[]
Price_list=[]

In [202]:
Brand_list=[]
for i in range(0,2):
    brand_tags=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for i in brand_tags:
        brand=i.text
        Brand_list.append(brand)
    next_button=driver.find_element_by_xpath('//a[@rel="next"]') 
    next_button.click()    
    time.sleep(2)

In [203]:
len(Brand_list)

100

In [205]:
Description_list=[]
for i in range(0,2):
    description_tags=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for i in description_tags:
        description=i.text
        Description_list.append(description)
    next_button=driver.find_element_by_xpath('//a[@rel="next"]') 
    next_button.click()    
    time.sleep(2)

In [206]:
len(Description_list)

100

In [211]:
Price_list=[]
for i in range(0,2):
    price=driver.find_elements_by_xpath('//div[@class="product-price"]')
    for i in price:
        price=i.text
        Price_list.append(price)
    next_button=driver.find_element_by_xpath('//a[@rel="next"]') 
    next_button.click()    
    time.sleep(2)

In [212]:
len(Price_list)

100

In [ ]:
Description_list=[]
for i in range(0,2):
    description_tags=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for i in description_tags:
        description=i.text
        Description_list.append(description)
    next_button=driver.find_element_by_xpath('//a[@rel="next"]') 
    next_button.click()    
    time.sleep(2)

In [213]:
import pandas as pd
myntra=pd.DataFrame(())
myntra['Brand']=Brand_list
myntra['Description']=Description_list
myntra['Price']=Price_list

In [214]:
myntra

,Brand,Description,Price
0,Columbia,Embellished Flatform Boots,Rs. 9349Rs. 10999(15% OFF)
1,Xtep,Felicia Stretch Wedge Pumps,Rs. 8499Rs. 9999(15% OFF)
2,Heel & Buckle London,Men KYRIE Basketball Shoes,Rs. 8490
3,Heel & Buckle London,Women Sports Shoes,Rs. 8099Rs. 8999(10% OFF)
4,ECCO,High-Top Platform Heeled Boots,Rs. 13205Rs. 13900(5% OFF)
...,...,...,...
95,Saint G,Women Rct IR FK3 Running Shoes,Rs. 8499Rs. 16999(50% OFF)
96,Saint G,Men Leather Formal Derbys,Rs. 8490
97,Saint G,Men Leather Formal Slip-Ons,Rs. 7999
98,ECCO,Helsinki Bike Toe Shoes,Rs. 8499Rs. 9999(15% OFF)
99,Columbia,Women Leather Sneakers,Rs. 8895

# Question 8

In [124]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [125]:
driver.get('https://www.amazon.in/')

In [126]:
search_feild=driver.find_element_by_xpath('//input[@type="text"]')
search_feild.send_keys("laptop")

In [127]:
search_button=driver.find_element_by_xpath('//input[@id="nav-search-submit-button"]')
search_button.click()

In [128]:
filter_i7=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a')
filter_i7.click()

In [130]:
Titles_list=[]
Rating_list=[]
Price_list=[]

In [143]:
titles_tags=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3ff7d2dad790d455fe79d644fb80b0bf", element="a870dd29-c370-486f-8447-ff5313717747")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ff7d2dad790d455fe79d644fb80b0bf", element="a4a5e50f-44e7-4417-a11d-92078dd8c1fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ff7d2dad790d455fe79d644fb80b0bf", element="d4cc76f9-bff0-4663-905b-8560840e6d78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ff7d2dad790d455fe79d644fb80b0bf", element="8d9e76ad-bb83-48b4-aac5-e656ba770be9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ff7d2dad790d455fe79d644fb80b0bf", element="27ff3b7a-ba96-40db-9a62-601fd02e164d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ff7d2dad790d455fe79d644fb80b0bf", element="845878c2-b869-40cc-99e5-376782b5bf01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ff7d2dad790d455fe79d644fb80b0bf", element="2db0415f-ae20-40f1-86d3-0b282187077e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ff7d2dad790d455fe79d644fb80b0bf", element="dd8bdc45-fd3c-4fa8-b5bf-458f611b1d2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ff7d2dad790d455fe79d644fb80b0bf", element="7325c0fe-73de-4af1-9c1e-4cc8893efff0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ff7d2dad790d455fe79d644fb80b0bf", element="6fc03ecc-a487-47c5-a9f5-eb10f924ba81")>]

In [ ]:
for i in titles_tags:
    title=i.text
    Titles_list.append(title)
Titles_list[0:10]

In [150]:
len(Titles_list)

120

In [158]:
price_tag=driver.find_elements_by_xpath('//*[@id="search"]/div[1]/div[1]/div/span[3]/div[2]/div[3]/div/div/div/div/div/div/div/div[2]/div/div/div[3]/div[1]/div/div[1]/div[1]/a/span[1]/span[2]/span[2]')
price_tag[0:10]

In [ ]:
for i in price_tag:
    price=i.text
    Price_list.append(price)
Price_list[0:10]

In [161]:
len(Price_list)

146

In [ ]:
rating_tag=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]')
rating_tag[0:10]

In [ ]:
for i in rating_tag:
    rating=i.text
    Rating_list.append(rating)
Rating_list[0:30]

In [142]:
print(len(Titles_list),len(Rating_list),len(Price_list))

60 46 58

# Question9

In [34]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [35]:
driver.get('https://www.ambitionbox.com/')

In [36]:
job_button=driver.find_element_by_xpath('//*[@id="headerWrapper"]/nav/nav/a[6]')
job_button.click()

In [37]:
search_feild=driver.find_element_by_xpath('//*[@id="jobs-typeahead"]/span/input')
search_feild.send_keys("Data Scientist")

In [38]:
search_job=driver.find_element_by_xpath('//*[@id="jobs"]/div[2]/div[1]/div[1]/div/div/div/button')
search_job.click()

In [40]:
search_location=driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[2]/input')
search_location.send_keys("Noida")

In [41]:
filter_Noida=driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
filter_Noida.click()

In [47]:

Company_list=[]
Number_of_days=[]
Rating_list=[]

In [ ]:
company_tag=driver.find_elements_by_xpath('//div[@class="company-info"]')
company_tag[:]

In [ ]:
for i in company_tag:
    company=i.text
    Company_list.append(company)
Company_list[0:10]

In [121]:
days_tag=driver.find_elements_by_xpath('//*[@id="jobsList"]/div[2]/div[2]/div/div[1]/div[10]/div[3]/span[1]')
days_tag[0:]

In [ ]:
for i in days_tag:
    days=i.text
    Number_of_days.append(days)
Number_of_days[:100]

In [123]:
len(Number_of_days)

91

# Question 10

In [219]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [220]:
driver.get('https://www.ambitionbox.com/')

In [221]:
salary_button=driver.find_element_by_xpath('//*[@id="headerWrapper"]/nav/nav/a[4]')
salary_button.click()

In [222]:
search_feild=driver.find_element_by_xpath('//*[@id="fixed-typeahead"]/div/div/div[1]/span/input')
search_feild.send_keys("Data Scientist")

In [223]:
comparision_job=driver.find_element_by_xpath('//*[@id="jobProfileSearchbox"]')
comparision_job.send_keys("Data Scientist")

In [234]:
company_list=[]
experince_list=[]
minimum_list=[]
maximum_list=[]
average_list=[]

In [ ]:
company_tags=driver.find_elements_by_xpath("//div[@class='company-info']")
company_tags[0:10]

In [ ]:

for i in company_tags:
    company=i.text
    company_list.append(company)
company_list[0:10]

In [ ]:
experince_tags=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
experince_tags[0:10]

In [ ]:

for i in experince_tags:
    experince=i.text
    experince_list.append(experince)
experince_list[:]