# Question 2 and 3 IMDB'S

In [ ]:
!pip install bs4
!pip install requests

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
page = requests.get('https://www.imdb.com/india/top-rated-indian-movies')

In [ ]:
page

In [ ]:
soup = BeautifulSoup(page.content)
soup

In [ ]:
titles=[]

for i in soup.find_all('td',class_="titleColumn"):
    titles.append(i.text)
    
    
titles

In [ ]:
rating=[]

for i in soup.find_all('td',class_="ratingColumn imdbRating"):
    rating.append(i.text)
    
rating

In [ ]:
year=[]
for i  in soup.find_all('span',class_="secondaryInfo"):
        year.append(i.text)
year

In [9]:
print(len(titles),len(rating),len(year))

250 250 250

In [10]:
#data frame

import pandas as pd
df= pd.DataFrame({'Titles':titles,'Rating':rating,'Year':year})
df

                                             Titles   Rating    Year
0              \n      1.\n      Jai Bhim\n(2021)\n  \n8.4\n  (2021)
1            \n      2.\n      Anbe Sivam\n(2003)\n  \n8.4\n  (2003)
2               \n      3.\n      Golmaal\n(1979)\n  \n8.4\n  (1979)
3               \n      4.\n      Nayakan\n(1987)\n  \n8.4\n  (1987)
4     \n      5.\n      Pariyerum Perumal\n(2018)\n  \n8.4\n  (2018)
..                                              ...      ...     ...
245              \n      246.\n      Arya\n(2004)\n  \n7.6\n  (2004)
246           \n      247.\n      Samsara\n(2001)\n  \n7.6\n  (2001)
247              \n      248.\n      Eega\n(2012)\n  \n7.6\n  (2012)
248            \n      249.\n      Newton\n(2017)\n  \n7.6\n  (2017)
249  \n      250.\n      Mumbai Meri Jaan\n(2008)\n  \n7.6\n  (2008)

[250 rows x 3 columns]

In [11]:
print(df.iloc[0:100])

                                               Titles   Rating    Year
0                \n      1.\n      Jai Bhim\n(2021)\n  \n8.4\n  (2021)
1              \n      2.\n      Anbe Sivam\n(2003)\n  \n8.4\n  (2003)
2                 \n      3.\n      Golmaal\n(1979)\n  \n8.4\n  (1979)
3                 \n      4.\n      Nayakan\n(1987)\n  \n8.4\n  (1987)
4       \n      5.\n      Pariyerum Perumal\n(2018)\n  \n8.4\n  (2018)
..                                                ...      ...     ...
95                \n      96.\n      Masaan\n(2015)\n  \n8.0\n  (2015)
96        \n      97.\n      Dil Chahta Hai\n(2001)\n  \n8.0\n  (2001)
97               \n      98.\n      Kahaani\n(2012)\n  \n8.0\n  (2012)
98  \n      99.\n      Maheshinte Prathikaaram\n(2...  \n8.0\n  (2016)
99  \n      100.\n      RRR (Rise Roar Revolt)\n(2...  \n8.0\n  (2022)

[100 rows x 3 columns]

# Question 4

In [ ]:
page = requests.get('https://meesho.com/bags-ladies/pl/p7vbp')
page

In [ ]:
soup = BeautifulSoup(page.content)
soup

In [ ]:
name=[]

for i in soup.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS"):
    name.append(i.text)
name

In [ ]:
price=[]

for i in soup.find_all('h5',class_='Text__StyledText-sc-oo0kvp-0 hiHdyy'):
    price.append(i.text)

price

In [16]:
discount=[]
for i in soup.find_all('span',class_="Text__StyledText-sc-oo0kvp-0 lnonyH"):
    discount.append(i.text)

discount

['9% off',
 '5% off',
 '5% off',
 '3% off',
 '5% off',
 '2% off',
 '14% off',
 '5% off',
 '2% off',
 '9% off',
 '6% off',
 '4% off',
 '5% off',
 '7% off',
 '7% off']

In [17]:
print(len(name),len(price),len(discount))

15 15 15

In [18]:
import pandas as pd
df=pd.DataFrame({'Name':name,'Price':price,'Discount':discount})
df

                                    Name  Price Discount
0          Graceful Fancy Women Handbags   ₹528   9% off
1        Ravishing Classy Women Handbags   ₹950   5% off
2       Classic Versatile Women Handbags   ₹950   5% off
3           Voguish Fancy Women Handbags  ₹1549   3% off
4      Graceful Versatile Women Handbags   ₹950   5% off
5         Classic Stylish Women Handbags  ₹3202   2% off
6   Ravishing Fashionable Women Handbags   ₹316  14% off
7          Elegant Classy Women Handbags   ₹950   5% off
8        Elegant Alluring Women Handbags  ₹2337   2% off
9        Classic Alluring Women Handbags   ₹518   9% off
10    Elegant Fashionable Women Handbags   ₹725   6% off
11        Trendy Alluring Women Handbags  ₹1320   4% off
12        Trendy Alluring Women Handbags   ₹950   5% off
13          Classic Fancy Women Handbags   ₹646   7% off
14    Classic Fashionable Women Handbags   ₹620   7% off

# Question 5 https://www.icc-cricket.com/rankings/mens/team-rankings/

In [ ]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [ ]:
soup = BeautifulSoup(page.content)
soup

In [ ]:
name=[]
for i in soup.find_all('span',class_="u-hide-phablet"):
    name.append(i.text)
name

In [ ]:
matches=[]
for i in soup.find_all('tr',class_="table-body"):
    matches.append(i.text.split()[3:4])
matches

In [23]:
print(len(name),len(matches))

25 19

In [24]:
match=soup.find('td',class_="table-body__cell u-center-text")
match.text

'32'

In [25]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

# Question 7 (https://coreyms.com/)

In [ ]:
page=requests.get('https://coreyms.com/')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [ ]:
heading = []
for i in soup.find_all('h2',class_="entry-title"):
    heading.append(i.text)
heading

In [ ]:
date=[]
for i in soup.find_all('time',class_="entry-time"):
    date.append(i.text)
date

In [ ]:
content=[]
for i in soup.find_all('div',class_="entry-content"):
    content.append(i.text)
content

In [32]:
url=[]
for i in soup.find_all('div',class_="ytp-cued-thumbnail-overlay-image"):
    url.append(i.text)
url

[]

In [33]:
print(len(heading),len(date),len(content))

10 10 10

In [34]:
import pandas as pd
df=pd.DataFrame({'Heading':heading,'Date':date,'Content':content})
df

,Heading,Date,Content
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","\nIn this video, we will be learning how to cr..."
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","\nIn this Python Programming video, we will be..."
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","\nIn this Python Programming video, we will be..."
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","\nIn this Python Programming video, we will be..."
4,Update (2019-09-03),"September 3, 2019",\nHey everyone. I wanted to give you an update...
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","\nIn this Python Programming Tutorial, we will..."
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","\nIn this Python Programming Tutorial, we will..."
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","\nIn this Python Programming Tutorial, we will..."
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","\nIn this Python Programming Tutorial, we will..."
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","\nIn this Python Programming Tutorial, we will..."

# question 8 https://www.nobroker.in/property/sale/hyderabad/Indira%20Nagar?searchParam=W3sibGF0IjoxNy40NDc0NDc1LCJsb24iOjc4LjM1NjkyNzUsInBsYWNlSWQiOiJDaElKZzVwcF9KU1R5enNSaHBYNzU2M2VkX2ciLCJwbGFjZU5hbWUiOiJJbmRpcmEgTmFnYXIifV0=&radius=2.0&city=hyderabad&locality=Indira%20Nagar

In [35]:
page =requests.get('https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9LHsibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIifSx7ImxhdCI6MTIuOTk4MTczMiwibG9uIjo3Ny41NTMwNDQ1OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp4Zlc0RFBNOXJqc1JLc05URy01cF9RUSIsInBsYWNlTmFtZSI6IlJhamFqaW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Indiranagar,&locality=Jayanagar,&locality=Rajajinagar')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [ ]:
title=[]
for i in soup.find_all('span',class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full"):
    title.append(i.text)
title

In [38]:
location=[]
for i in soup.find_all('div',class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
    location.append(i.text)
location

['Blueberry Apartment\xa0 13th E Main Rd, Channakesahava Nagar, HAL 2nd Stage, Doopanahalli, Indiranagar, Bengaluru, Karnataka 560008, India',
 'Independent House, near cmh road metro station',
 'Independent House,  6th Cross road,9th main road  Prakash Nagar, Near Metro Station,  BBMP YOGA CENTRE',
 'Laa Royal Manor\xa0 11th Cross Rd, 8th cross, HAL 2nd Stage, Indiranagar',
 'Dr Rajkumar Rd, opposite Sheraton Hotel, Rajajinagar',
 '2nd Main Road, Lakshminarayanapuram, near  Sri Sumathi Kalyana Mantapa and  Ramesh Bankers Sagar Jeweller',
 'Jayanagar Residency, K V Layout, LIC Colony, Jayanagar 3rd Block East, Jayanagar, Bengaluru, Karnataka 560011, India',
 'Near pillar number 69 and 70, 9th Cross Rd 2nd Block, Jayanagar Bengaluru, Karnataka 560011 India',
 'Independent House, Jayanagar SBI Branch 9th blk, 4th T Blk CafÃ© CoffeeDay,Bunny Bakers, Tazaa Thindi',
 'Independent House, 5th Block, near National Public School RNR',
 'Municipal No.152, 18th main road, beside Sai Baba Temple, Jayanagara 9th Block, Jayanagar, Bengaluru, Karnataka 560056, India',
 'Adarsh Court Apartment\xa0 Adarsh Court Apartment, 7th Cross Rd, 7th Block, Jayanagar, Bengaluru, Karnataka 560070, India',
 'manjunath road near The illusion Cafe',
 'Independent House, 2nd stage ,9th cross',
 '17, Pallava Terrace, North Main Road, 6th Block, Yediyur, Jayanagar, Bengaluru, Karnataka 560082, India',
 'Independent House, 6th C cross 3rd main rd near Ayyappa Temple',
 'Independent House, 242, 27th cross, 2nd Block, Rajajinagar, Bangalore-560010',
 'Admiralty Manor, Indiranagar\xa0 Admiralty Manor, 6th Main Rd, Eshwara Layout, Indiranagar, Bengaluru, Karnataka 560008, India',
 'Jains Prakriti\xa0  Kanakapura Rd, 7th Block West, 7th Block, Jayanagar, Bengaluru, Karnataka 560070, India',
 '16th D main, HAL 2nd stage, Indiranagar ,  Bengaluru, Karnataka 560038, India',
 'Independent House, CMH Rd , Near B P Bakery',
 'Tarang Parkway Apartment\xa0 2nd Main Rd, Shivanagar, Basaveshwar Nagar, Bengaluru, Karnataka 560010, India',
 'Kanakapura Road, Jayanagar, Bangalore, Karnataka, INDIA.',
 'Independent House, 6th Cross Rd, 2nd Block  near  SMC Enclave ',
 'Parasmani Regency\xa0 Parasmani Regency, 8th Cross Street, 2nd Block, Jaya Nagar East, Jayanagar, Bengaluru, Karnataka 560004, India']

In [ ]:
price=[]
for i in soup.find_all('div',class_="flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r-0"):
    price.append(i.text)
price

In [40]:
print(len(title),len(location),len(price))

25 25 25

In [41]:
import pandas as pd
df=pd.DataFrame({'Title':title,'Location':location,'Price':price})
df

,Title,Location,Price
0,2 BHK Apartment For Sale In Blueberry Apartm...,"Blueberry Apartment 13th E Main Rd, Channakes...","₹1.4 Crores₹13,035 per sq.ft."
1,4+ BHK In Independent House For Sale In Indi...,"Independent House, near cmh road metro station","₹7 Crores₹14,000 per sq.ft."
2,4+ BHK In Independent House For Sale In Raja...,"Independent House, 6th Cross road,9th main ro...","₹1 Crore₹7,576 per sq.ft."
3,3 BHK Apartment For Sale In Laa Royal Manor ...,"Laa Royal Manor 11th Cross Rd, 8th cross, HAL...","₹2.75 Crores₹13,033 per sq.ft."
4,4 BHK Flat For Sale In Phoenix One Bangalor...,"Dr Rajkumar Rd, opposite Sheraton Hotel, Rajaj...","₹5.1 Crores₹17,580 per sq.ft."
5,3 BHK Flat For Sale In Lakshmi Arcade In Raj...,"2nd Main Road, Lakshminarayanapuram, near Sri...","₹65 Lacs₹5,200 per sq.ft."
6,2 BHK Flat For Sale In Jayanagar Residency I...,"Jayanagar Residency, K V Layout, LIC Colony, J...","₹1 Crore₹8,333 per sq.ft."
7,2 BHK Flat For Sale In Kumar Ashraya Apartme...,"Near pillar number 69 and 70, 9th Cross Rd 2nd...","₹66 Lacs₹7,333 per sq.ft."
8,4 BHK In Independent House For Sale In Jayan...,"Independent House, Jayanagar SBI Branch 9th bl...","₹2.7 Crores₹10,800 per sq.ft."
9,4+ BHK In Independent House For Sale In Raja...,"Independent House, 5th Block, near National Pu...","₹3.25 Crores₹10,833 per sq.ft."
10,3 BHK Flat For Sale In Rrbc Piccassso In Jay...,"Municipal No.152, 18th main road, beside Sai B...","₹2.93 Crores₹14,384 per sq.ft."
11,3 BHK Apartment For Sale In Adarsh Court Apa...,Adarsh Court Apartment Adarsh Court Apartment...,"₹3.25 Crores₹16,332 per sq.ft."
12,3 BHK Flat For Sale In Shree Rameshwara Nila...,manjunath road near The illusion Cafe,"₹1.1 Crores₹9,167 per sq.ft."
13,4 BHK In Independent House For Sale In Indir...,"Independent House, 2nd stage ,9th cross","₹2.95 Crores₹11,569 per sq.ft."
14,2 BHK Flat For Sale In Pallava Terrace In Ja...,"17, Pallava Terrace, North Main Road, 6th Bloc...","₹75 Lacs₹7,042 per sq.ft."
15,4+ BHK In Independent House For Sale In Raja...,"Independent House, 6th C cross 3rd main rd nea...","₹1.35 Crores₹6,136 per sq.ft."
16,3 BHK In Independent House For Sale In Rajaj...,"Independent House, 242, 27th cross, 2nd Block,...","₹1.35 Crores₹10,588 per sq.ft."
17,"3 BHK Apartment For Sale In Admiralty Manor,...","Admiralty Manor, Indiranagar Admiralty Manor,...","₹1.5 Crores₹7,653 per sq.ft."
18,2 BHK Apartment For Sale In Jains Prakriti I...,"Jains Prakriti Kanakapura Rd, 7th Block West...","₹2 Crores₹15,408 per sq.ft."
19,3 BHK Flat For Sale In Benaka Apartments In ...,"16th D main, HAL 2nd stage, Indiranagar , Ben...","₹85 Lacs₹6,386 per sq.ft."
20,4+ BHK In Independent House For Sale In Laks...,"Independent House, CMH Rd , Near B P Bakery","₹1.1 Crores₹4,889 per sq.ft."
21,2 BHK Apartment For Sale In Tarang Parkway A...,"Tarang Parkway Apartment 2nd Main Rd, Shivana...","₹1 Crore₹8,333 per sq.ft."
22,"2 BHK Flat For Sale In Jains Prakruti, Jayan...","Kanakapura Road, Jayanagar, Bangalore, Karnata...","₹1.5 Crores₹11,530 per sq.ft."
23,4+ BHK In Independent House For Sale In Raja...,"Independent House, 6th Cross Rd, 2nd Block ne...","₹1.46 Crores₹6,518 per sq.ft."
24,3 BHK Apartment For Sale In Parasmani Regenc...,"Parasmani Regency Parasmani Regency, 8th Cros...","₹2.5 Crores₹12,887 per sq.ft."

# Quetsion 9 https://www.dineout.co.in/delhi-restaurants/welcome-back

In [ ]:
page=requests.get('https://www.dineout.co.in/delhi-restaurants/welcome-back')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [ ]:
names=[]
for i in soup.find_all('div',class_="restnt-info cursor"):
    names.append(i.text)
names

In [ ]:
location=[]
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)
location

In [ ]:
rating=[]
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    rating.append(i.text)
rating

In [ ]:
image=[]
for i in soup.find_all('img',class_="no-img"):
    image.append(i['data-src'])
image

In [ ]:
cuisine=[]
for i in soup.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(i.text)
cuisine

In [49]:
print(len(names),len(location),len(rating),len(image),len(cuisine))

21 21 21 21 21

In [50]:
import pandas as pd
df=pd.DataFrame({'Names':names,'Location':location,'Rating':rating,'Image':image,'Cuisine':cuisine})
df

,Names,Location,Rating,Image,Cuisine
0,"TamashaConnaught Place, Central Delhi","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...,"₹ 2,000 for 2 (approx) | Continental, Asian, I..."
1,"LocalScindia House,Connaught Place, Central Delhi","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...,"₹ 2,000 for 2 (approx) | North Indian, Asian, ..."
2,"Unplugged CourtyardConnaught Place, Central Delhi","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...,"₹ 3,300 for 2 (approx) | North Indian, Italian..."
3,"The G.T. ROADM-Block,Connaught Place, Central ...","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...,"₹ 1,400 for 2 (approx) | North Indian"
4,"Ministry Of BeerM-Block,Connaught Place, Centr...","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...,"₹ 3,000 for 2 (approx) | North Indian, Contine..."
5,Connaught Clubhouse MicrobreweryConnaught Plac...,"Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...,"₹ 1,600 for 2 (approx) | North Indian, Italian..."
6,High 5 - Everyday Wholesale BarConnaught Place...,"Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...,"₹ 1,700 for 2 (approx) | North Indian, Contine..."
7,"The Junkyard CafeConnaught Place, Central Delhi","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...,"₹ 2,100 for 2 (approx) | North Indian, Contine..."
8,"Warehouse CafeConnaught Place, Central Delhi","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...,"₹ 2,500 for 2 (approx) | North Indian, Chinese..."
9,"Chili's American Grill and BarM-Block,Connaugh...","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...,"₹ 2,000 for 2 (approx) | Mexican, American, Te..."
10,"QBAConnaught Place, Central Delhi","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...,"₹ 2,100 for 2 (approx) | North Indian, Contine..."
11,"Openhouse CafeConnaught Place, Central Delhi","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...,"₹ 2,000 for 2 (approx) | North Indian, Asian, ..."
12,"Berco'sConnaught Place, Central Delhi","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...,"₹ 1,300 for 2 (approx) | Chinese"
13,"SandozConnaught Place, Central Delhi","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...,"₹ 1,400 for 2 (approx) | North Indian, Chinese..."
14,"ChidoConnaught Place, Central Delhi","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...,"₹ 1,800 for 2 (approx) | North Indian, Italian..."
15,"Lord of the DrinksConnaught Place, Central Delhi","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...,"₹ 2,500 for 2 (approx) | Chinese, North Indian..."
16,"38 BarracksM-Block,Connaught Place, Central Delhi","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...,"₹ 2,700 for 2 (approx) | North Indian, Chinese..."
17,"The Imperial SpiceM-Block,Connaught Place, Cen...","M-Block,Connaught Place, Central Delhi",4.4,https://im1.dineout.co.in/images/uploads/resta...,"₹ 3,000 for 2 (approx) | North Indian, Contine..."
18,"Out Of The Box CourtyardConnaught Place, Centr...","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...,"₹ 2,200 for 2 (approx) | North Indian, Mediter..."
19,Ardor 2.1 Restaurant and LoungeConnaught Place...,"Connaught Place, Central Delhi",3.8,https://im1.dineout.co.in/images/uploads/resta...,"₹ 2,000 for 2 (approx) | North Indian, Chinese..."
20,"Barbeque NationConnaught Place, Central Delhi","Connaught Place, Central Delhi",4.4,https://im1.dineout.co.in/images/uploads/resta...,"₹ 1,600 for 2 (approx) | North Indian, Chinese"

# question 10 https://www.bewakoof.com/women-printed-t-shirts

In [51]:
page=requests.get('https://www.bewakoof.com/women-plain-t-shirts')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [ ]:
name=[]
for i in soup.find_all('div',class_="productCardBox"):
    name.append(i.text.split()[0:5])
name

In [ ]:
price=[]
for i in soup.find_all('span',class_="discountedPriceText"):    
    price.append(i.text)
price

In [55]:
image=[]
for i in soup.find_all('div',style="width: 100%; padding-top: 125%; position: relative; background: rgb(248, 248, 249);"):
    image.append(i.text)
image

[]

In [56]:
print(len(name),len(price))

30 30

In [57]:
import pandas as pd
df=pd.DataFrame({'Name':name,'Price':price})
df

                                                 Name   Price
0   [Oversized, fitWomen's, Yellow, Solid, Oversized]   ₹ 562
1     [Oversized, fitWomen's, Pink, Solid, Oversized]   ₹ 562
2    [Oversized, fitWomen's, Green, Solid, Oversized]   ₹ 562
3      [Oversized, fitWomen's, Red, Solid, Oversized]   ₹ 562
4     [Oversized, fitWomen's, Pink, Solid, Oversized]   ₹ 562
5          [Slim, fitHashtag, Blue, Henley, T-Shirt₹]   ₹ 349
6          [Lavender, Keyhole, neck, top₹, 499899FEW]   ₹ 499
7             [Slim, fitChilli, Pepper, Full, Sleeve]   ₹ 399
8                [Slim, fitBubble, Gum, Half, Sleeve]   ₹ 349
9              [Women's, Round, Neck, Short, Sleeves]   ₹ 539
10    [Slim, fitWomen's, White, Typography, T-shirt₹]   ₹ 636
11   [Loose, fitWomen's, Green, Typography, T-shirt₹]   ₹ 636
12  [Oversized, fitWomen's, Yellow, Solid, Oversized]   ₹ 562
13    [Oversized, fitWomen's, Pink, Solid, Oversized]   ₹ 562
14       [Oversized, fitWomen's, Red, Graphic, Print]   ₹ 629
15     [Oversized, fitWomen's, Red, Solid, Oversized]   ₹ 562
16   [Oversized, fitWomen's, Green, Solid, Oversized]   ₹ 562
17  [Oversized, fitWomen's, Green, Typography, Ove...   ₹ 629
18        [Slim, fitWomen's, Purple, Solid, T-Shirt₹]   ₹ 455
19          [Slim, fitWomen's, Blue, Solid, T-Shirt₹]   ₹ 455
20            [Women's, Yellow, Regular, Fit, Coats₹]  ₹ 1999
21                [Plus, SizeDusty, Pink, Plus, Size]   ₹ 999
22                    [LAST, SIZES, LEFT, -, SPECIAL]  ₹ 1149
23      [Yellow, Fashion, Color, Block, Windcheater₹]   ₹ 799
24      [Plus, SizeWhite-High, Risk, Red-Black, Plus]   ₹ 999
25               [Dusty, Pink, Fashion, Color, Block]   ₹ 999
26              [Winter, Moss, Fashion, Color, Block]   ₹ 999
27  [Women's, Olive, Winter, Jacket₹, 9992699₹929For]   ₹ 999
28           [Women's, Fashion, Color, Block, Winter]  ₹ 1149
29             [Killer, Brown, Color, Block, Jacket₹]   ₹ 699

In [58]:
print(df.iloc[0:10])

                                                Name  Price
0  [Oversized, fitWomen's, Yellow, Solid, Oversized]  ₹ 562
1    [Oversized, fitWomen's, Pink, Solid, Oversized]  ₹ 562
2   [Oversized, fitWomen's, Green, Solid, Oversized]  ₹ 562
3     [Oversized, fitWomen's, Red, Solid, Oversized]  ₹ 562
4    [Oversized, fitWomen's, Pink, Solid, Oversized]  ₹ 562
5         [Slim, fitHashtag, Blue, Henley, T-Shirt₹]  ₹ 349
6         [Lavender, Keyhole, neck, top₹, 499899FEW]  ₹ 499
7            [Slim, fitChilli, Pepper, Full, Sleeve]  ₹ 399
8               [Slim, fitBubble, Gum, Half, Sleeve]  ₹ 349
9             [Women's, Round, Neck, Short, Sleeves]  ₹ 539